@model Shop_Phone_MVC.Models.BasketViewModel

@{
    ViewData["Title"] = "Basket";
}
<script>
    window.onload = function Load() {
      if(Number(@Model.phones.Count)==0) {
        let btn = document.getElementById("Submit1");
        btn.setAttribute("disabled", "disabled");
        }
    }
</script>
<h4>Ваши товары:</h4>
<h3>@ViewBag.Message</h3>
@for (int i = 0; i < Model.phones.Count; i++)
{
<ul>
    <li class="list-group-item list-group-item-success">
        <p>Модель: @Model.phones[i].Model </p>
        <p>Марка: @Model.phones[i].Marka </p>
        <p>Цена: @Model.phones[i].Price грн. </p>
    </li>
    
</ul>
}
<a asp-area="" asp-controller="Order" style="color:white" asp-action="MakeOrder">
    <input id="Submit1"  type="submit" class="btn btn-success" value="Оформить заказ" />
</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
